.popup__input {
  box-sizing: border-box;
  display: block;
  width: 358px;
  margin: 0 auto;
  margin-bottom: 29.74px;
  padding-bottom: 11px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media all and (max-width: 635px) {
  .popup__input {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }

  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}