.photo__like {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #ffffff;
  background-image: url("../../../images/heart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .2s ease;
}

.photo__like:hover {
  cursor: pointer;
  opacity: 0.6;
}