.popup__save-btn {
  display: block;
  box-sizing: border-box;
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  padding: 13.66px 124px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  margin-bottom: 37px;
  transition: opacity 1s ease;
}

.popup__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 635px) {
  .popup__save-btn {
    max-width: 238px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}